@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html,
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}
.center {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: $white;
  background-color: $blue;
  font-size: inherit;
}

ul,
li {
  list-style: none;
}

.record-list {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.record-item {
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}

.text-center {
  text-align: center;
}
